<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add person</h1>

    <form action="/addPerson" method="POST">
      <label for="ssn">SSN:</label>
      <input type="text" id="ssn" name="ssn" /><br />
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" /><br />
      <label for="age">Age:</label>
      <input type="text" id="age" name="age" /><br />
      <label for="bloodType">Blood type:</label>
      <input type="text" id="bloodType" name="bloodType" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
